/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require normalize-rails
 */

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";


#navbar {
  background-color: #0B0B0A;
  height: 4em;
  width: 100%;
  float: left;
  position: fixed;
  top: 15vw;

  #logo-link {
    width: (100vw - golden_ratio(100vw, -1)) * 0.9;
    display: inline-block;
    text-align: center;

    img {
      height: 4em;
      margin: auto;
    }
  }

  #text-links {
    height: 4em;
    display: inline-block;
    vertical-align: bottom;
    a {
      color: white;
      font: 2.6em $header-font-family;
      display: inline-block;
      width: golden_ratio(100vw, -1)  * 0.9 / 4;
      text-align: center;
    }

    :nth-child(odd):hover {
      color: #E22886;
    }

    :nth-child(even):hover {
      color: #229FD3;
    }
  }
}

header {
  @include outer-container;
  background-image: url("/panorama.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 31.25vw;
  border-bottom: 1px solid whitesmoke;
  box-shadow: 0px -10px 54px 4px rgba(0,0,0,0.75)
}

section#posts {
  @include outer-container;

  article {
    @include span-columns(16);

    border: 1px solid white;
    box-shadow:  0px 0px 5vw -2.7vw rgba(0,0,0,0.75);
    h1, span {
      margin: 0.67em 1em;
      display: inline-block;
      font-family: $header-font-family;
    }
  }

  @include media(1000px) {

    article {
      margin-top: golden_ratio(em(250px), -2);
      @include span-columns(10);
      @include shift(3);

      img {
        width: 100%;
        max-heigth: 10vw;
      }
    }
  }
}

