<!DOCTYPE html>
<html>
<head>
  <title>VRlab.berlin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//use.typekit.net/eia1dsf.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
